<template>
    <div>
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="alert alert-danger" role="alert" v-if="hasErrors">
                    <h5 class="alert-heading">There were some errors:</h5>
                    <span v-for="field in formErrors">
                        <hr/>
                        <span v-for="error in field">
                            {{ error }} <br>
                        </span>
                    </span>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">CSV File</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" v-on:change="handleFile" class="custom-file-input" id="csv_file" ref="csv_file" name="csv_file" aria-describedby="csv_file">
                            <label class="custom-file-label" for="csv_file" v-if="!csv_file">Choose file</label>
                            <label class="custom-file-label" for="csv_file" v-else="csv_file">{{ csv_file.name }}</label>
                        </div>

                    </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save_to_db" name="save_to_db" v-model="save_to_db">
                    <label class="custom-control-label" for="save_to_db">
                        Save to database
                    </label>
                </div>

                <hr class="mb-4">

                <button class="d-flex justify-content-center align-items-center btn btn-primary btn-lg btn-block" @click="submitForm" :disabled="!canSubmit">
                    <span v-if="isLoading" class="mr-2 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Submit
                </button>

                <div v-if="summary">
                    <hr class="mb-4">
                    <h4>Summary</h4>
                    <ul>
                        <li><b>Average of all prices sold</b>: {{ roundToTwo(summary.avg_price) }} </li>
                        <li><b>Count of all houses sold</b>: {{ roundToTwo(summary.count_sold_houses) }}</li>
                        <li><b>Number of crimes in 2011</b>: {{ roundToTwo(summary.num_crimes_2011) }}</li>
                        <li>
                            <b>Average price per year in the London area</b>:
                            <ul>
                                <li v-for="(average, year) in summary.avg_price_london">
                                    <b>{{ year }}</b>: {{ roundToTwo(average) }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                csv_file: '',
                save_to_db: false,
                canSubmit: false,
                isLoading: false,
                formErrors: null,
                summary: null
            }
        },
        computed: {
            hasErrors() {
                return this.formErrors && Object.keys(this.formErrors).length;
            }
        },
        methods: {
            handleFile() {
                this.csv_file = this.$refs.csv_file.files[0];
                this.canSubmit = true;
            },
            clearForm() {
                this.csv_file = '';
                this.save_to_db = false;
                this.errors = [];
                this.canSubmit = false;
            },
            submitForm() {
                this.isLoading = true;

                let formData = new FormData();
                let saveToDb = this.save_to_db ? 1 : 0;

                formData.append('csv_file', this.csv_file);
                formData.append('save_to_db', saveToDb);

                axios.post('/api/upload',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {
                    this.clearForm();
                    this.summary = response.data.data;
                })
                .catch(error => {
                    this.formErrors = error.response.data.errors;
                })
                .finally(() => this.isLoading = false)
            },
            roundToTwo(num) {
                return Math.round((num + Number.EPSILON) * 100) / 100
            }
        }
    }
</script>
